.gas-effect  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 3;
    opacity: 0;
    animation: gasFlow 10s infinite linear;
    animation:-delay  2s;
}

@keyframes  gasFlow {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.shooting-star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    box-shadow: 0 0 10px white;
    z-index: 4;
    opacity: 0;
    animation: shoot 3s  forwards;
}

@keyframes shoot {
    0% {
        transform: translate(100vw, 10vh);
        opacity: 0;
    }
    5% {
        transform: translate(-100%vw, 70vh);
        opacity: 0;
    }
}